<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
	<head>
		<title>Volare</title>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="assets/css/normalize.css">
		<link rel="stylesheet" href="assets/css/foundation.css">
		<link rel="stylesheet" href="assets/css/volare.css">
		<link rel="stylesheet" href="assets/css/foundation-icons.css">
		<script src="app/js/vendor/jquery.js"></script>
		<script src="app/js/angular.min.js"></script>
		<script src="app/js/foundation.min.js"></script>
		<script src="app/js/foundation/foundation.accordion.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers/conteudos.js"></script>
		<script src="app/controllers/pessoas.js"></script>
		<script src="app/controllers/projetos.js"></script>
		<script src="app/controllers/assistentes.js"></script>
	</head>
	<body ng-controller="appController as appCtrl">
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap">
				<nav class="tab-bar">
					<section class="left-small">
						<a class="left-off-canvas-toggle menu-icon" href="#">
							<span></span>
						</a>
					</section>
					<section class="middle tab-bar-section">
						<h1 class="title">Volare</h1>
					</section>
				</nav>
				<aside class="left-off-canvas-menu" style="height: 50em;">
					<ul class="off-canvas-list">
						<li>
							<label>Volare</label>
						</li>
						<li>
							<a ng-click="pagina_atual = 'conteudos'">Conteúdos</a>
						</li>
						<li>
							<a ng-click="pagina_atual = 'pessoas'">Pessoas</a>
						</li>
						<li>
							<a ng-click="pagina_atual = 'projetos'">Projetos</a>
						</li>
						<li>
							<a ng-click="pagina_atual = 'assistentes'">Assistentes</a>
						</li>
					</ul>
				</aside>
				<section class="main-section">
					<div ng-show="pagina_atual == 'conteudos'" id="pg_conteudos" conteudos data-role="page"></div>
					<div ng-show="pagina_atual == 'pessoas'" id="pg_pessoas" pessoas data-role="page"></div>
					<div ng-show="pagina_atual == 'projetos'" id="pg_projetos" projetos data-role="page"></div>
					<div ng-show="pagina_atual == 'assistentes'" id="pg_assistentes" assistentes data-role="page"></div>
				</section>
			</div>
		</div>
		<script>
		$(document).foundation();
		</script>
	</body>
</html>