<div class="row">
    <div class="large-3 columns">
        <h1>
        <img src="http://placehold.it/400x100&amp;text=Logo">
        </h1>
    </div>
</div>
<div class="row">
    <div class="large-9 push-3 columns">
        <h3>Prototipos</h3>
        <form>
            <div class="row">
                <div class="large-3 columns">
                    <input ng-model="prototiposCtrl.campo" type="text" placeholder="Campo" />
                </div>
            </div>
            <div class="row" style="margin-top: 1em;">
                <ul class="button-group radius right">
                    <li><a href="#" ng-click="prototiposCtrl.salvar_prototipo()" class="button">Salvar</a></li>
                    <li><a href="#" class="button">Cancelar</a></li>
                </ul>
            </div>
        </form>
    </div>
    <div class="large-3 pull-9 columns">
        <ul class="side-nav">
            <li ng-repeat="prototipo in prototiposCtrl.prototipos" class="lista">
                <a href="#" ng-click="prototiposCtrl.buscar_prototipos(prototipo.id)">{{prototipo.campo}}</a>
                <i class="step fi-x size-18" ng-click="prototiposCtrl.excluir_prototipo(prototipo.id)"></i>
            </li>
        </ul>
    </div>
</div>
<footer class="row">
    <div class="large-12 columns">
        <hr>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright no one at all. Go to town.</p>
            </div>
        </div>
    </div>
</footer>